* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    color: #2C2E43;
}

body {
    margin: 40px 5%;
    background-color: #2C2E43;
}

.gallery {
  border: 1px solid #d4d2df;
    background-color: #595260;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.responsive {
  padding: 0 6px;
  margin: 6px 0;
  float: left;
  width: 33.33%;
  position: relative;
}

@media (max-width: 980px) {

    .desc {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn {
         margin: 10px 0;
         width: fit-content;
    }
}

@media (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.btn {
    background-color: #d4d2df;
    border-radius: 20px;
    outline: none;
    padding: 5px 0;
    border: none;
    color: #2C2E43;
    cursor: pointer;
    font-weight: bold;
}

.desc a {
      padding: 8px 20px;
}
