@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Ruslan+Display&family=Sancreek&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--white);
    font-family: 'Sancreek', cursive;
    font-size: 1.125rem;
    font-weight: normal;
}

 :root {
    --white: #ffffff;
    --white-opacity-low: rgba(255, 255, 255, 0.2);
    --blue-overlay: rgba(4, 35, 81, 0.4);
    --blue-overlay-full: rgba(4, 35, 81, 1);
}

html {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-size: 100%;
}

p {
    line-height: 1.5;
}

body {
    min-height: 100vh;
    background: linear-gradient(to left, var(--blue-overlay), var(--blue-overlay)), url('images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    padding: 0 8%;
    height: 5rem;
    justify-content: space-between !important;
}

.menu-icon,
.close-icon {
    display: none;
}

.menu a {
    margin: 0 1.25rem;
}

.menu a::after {
    content: '';
    position: absolute;
    height: 0.125rem;
    width: 0;
    background: var(--white);
    left: 0;
    bottom: -0.625rem;
    transition: .4s ease-in-out;
}

.menu a:hover::after {
    width: 100%;
}

.logo {
    font-size: 2.25rem;
}

main {
    max-width: 1600px;
    margin: 100px auto 0;
    flex-direction: column;
    text-align: center;
}

.title {
    margin-bottom: 2.5rem;
    font-size: 2.25rem;
}

.desc {
    margin-bottom: 3.75rem;
    max-width: 36.25rem;
    padding: 10px;
}

.countdown-container {
    flex-wrap: wrap;
}

.countdown {
    height: 8.125rem;
    width: 10rem;
    background: var(--white-opacity-low);
    border-radius: 0.625rem;
    margin: 0 1.25rem;
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 2.5rem;
    position: fixed;
    bottom: 0;
    background: var(--blue-overlay);
    align-items: center;
}

.view-source {
    position: relative;
}

.view-source::after {
    content: '';
    position: absolute;
    height: 0.125rem;
    width: 100%;
    background: var(--white);
    left: 0;
    bottom: 0;
}

@media (max-width: 950px) {
    html {
        font-size: 70%;
    }
    .countdown {
        width: 8.125rem;
        height: 8.125rem;
    }
}

@media (max-width:768px) {
    .desc {
        margin-bottom: 0;
    }
    .countdown {
        margin-top: 2.5rem;
    }
    #menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        background-color: var(--blue-overlay-full);
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        z-index: 1;
        transition: .3s ease-in-out;
    }
    .menu a {
        margin-top: 20px;
    }
    .menu-icon,
    .close-icon {
        display: block;
        font-size: 2rem;
    }
    .close-icon {
        right: 2.5rem;
        margin-top: 1.25rem;
        position: absolute;
    }
}

@media (max-width:335px) {
    html {
        font-size: 60%;
    }
    footer p,
    footer a {
        font-size: 0.873rem;
    }
}
